<clr-modal [(clrModalOpen)]="opened" [clrModalSize]="'xl'">
  <h3 class="modal-title">销售情况统计表
    <clr-dropdown [clrMenuPosition]="'bottom-right'">
      <button class="dropdown-toggle btn btn-link" clrDropdownToggle>
        2017年
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <div class="dropdown-menu">
        <label class="dropdown-header">选择年份</label>
        <a href="..." clrDropdownItem>2016</a>
        <a href="..." clrDropdownItem>2017</a>
      </div>
    </clr-dropdown>
  </h3>

  <div class="modal-body">
    <columnchart></columnchart>
    <div style="overflow-x: scroll">
      <ac-grid #acgrid></ac-grid>
    </div>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="opened = false">返回</button>
  </div>
</clr-modal>
