  <nav class="subnav" [clr-nav-level]="2">
    <ul class="nav">
      <li class="nav-item">
      </li>
      <!--年份下拉菜单-->
      <div>
        选择数据年份:
        <clr-dropdown [clrMenuPosition]="'bottom-right'">

          <button class="dropdown-toggle btn btn-link" clrDropdownToggle>
            年
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <div class="dropdown-menu">
            <label class="dropdown-header">选择年份</label>
            <a clrDropdownItem>1</a>
          </div>
        </clr-dropdown>
      </div>
    </ul>
  </nav>
  
  <div class="ac-main-content">
        <button type="submit" class="back-button" (click)="navGoBack()">返回</button>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
        <h1>测试</h1>
      
</div>