<clr-main-container>
  <clr-header class="header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="network" class="is-inverse"></clr-icon>
        <span class="title">总裁桌面</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="..." class="active nav-link"><span class="nav-text">营销主题</span></a>
      <a href="..." class="nav-link"><span class="nav-text">房产成本主题</span></a>
      <a href="..." class="nav-link"><span class="nav-text">招采主题</span></a>
    </div>
    <div class="header-actions">
      <a href="..." class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
    </div>
  </clr-header>
  <nav class="subnav" [clr-nav-level]="2">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">销售情况</a>
      </li>
      <!--年份下拉菜单-->
      <clr-dropdown [clrMenuPosition]="'bottom-right'">
        <button class="dropdown-toggle btn btn-link" clrDropdownToggle>
          2017年
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <div class="dropdown-menu">
          <label class="dropdown-header">选择年份</label>
          <a href="..." clrDropdownItem>2016</a>
          <a href="..." clrDropdownItem>2017</a>
        </div>
      </clr-dropdown>
    </ul>

  </nav>


  <ac-marketsubject class="content-container"></ac-marketsubject>

</clr-main-container>
