/* You can add global styles to this file, and also import other style files */
html{
  font-size: 1rem;
}
.row table{
  height: 90%;
}
.table td, .table th{
  font-size: 1rem;
}
.th-second{
  min-width: 150px;
}

.td-button{
  background-color: #DFF0D0;
  width:40%;
}

.num-button{
  color:#60B515;
  text-decoration: underline;
}

.gird-font{
  font-size: x-large;
}

.ac-main-content{
  width:100%;
  background-color:#fff;
  overflow: scroll;
  height: 100vh;
}