<table class="table">
  <thead>
  <tr>
    <th colspan="4">1月</th>
    <th colspan="4">2月</th>
    <th colspan="4">3月</th>
    <th colspan="4">4月</th>
    <th colspan="4">5月</th>
    <th colspan="4">6月</th>
    <th colspan="4">7月</th>
    <th colspan="4">8月</th>
    <th colspan="4">9月</th>
    <th colspan="4">10月</th>
    <th colspan="4">11月</th>
    <th colspan="4">12月</th>
  </tr>
  <tr>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
    <th class="th-second">计划销售</th>
    <th class="th-second">实际销售套数</th>
    <th class="th-second">实际销售面积</th>
    <th class="th-second">实际销售金额</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>I</td>
  </tr>


<!--<dx-data-grid-->
  <!--id="gridContainer"-->
  <!--[dataSource]="countries"-->
  <!--[columnAutoWidth]="true"-->
  <!--[showBorders]="true"-->
  <!--[allowColumnReordering]="true">-->
  <!--<dxi-column-->
    <!--caption="区域"-->
    <!--dataField="Country">-->
  <!--</dxi-column>-->
  <!--<dxi-column-->
    <!--caption="一月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="二月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="三月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="四月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="五月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="六月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="七月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="八月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="九月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="十月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="十一月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<dxi-column caption="十二月份">-->
    <!--<dxi-column-->
      <!--caption="计划销售额(万元)"-->
      <!--dataField="Population_Total"-->
      <!--format="fixedPoint">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售套数(套)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售面积(m²)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="实际销售金额(万元)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
    <!--<dxi-column-->
      <!--caption="完成率(%)"-->
      <!--dataField="Population_Urban"-->
      <!--format="percent">-->
    <!--</dxi-column>-->
  <!--</dxi-column>-->
  <!--<div *dxTemplate="let data of 'headerTemplate'">-->
    <!--<div>Area, km<sup>2</sup></div>-->
  <!--</div>-->
<!--</dx-data-grid>-->
